body {
    font-family: "Playwrite AU NSW", cursive;
    margin: 20px;
    text-align: center; /* 📍 Texto centrado por defecto */

    /* 🎨 Fondo oscuro fijo */
    background-color: #121212;
    color: #ffffff; /* Texto claro para contraste */
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.2em;
    margin: 10px 0;
}


.estado {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.9em;
    color: #ffffff;
}


.pendiente {
    background-color: #2196f3; /* Azul */
}

.haciendo {
    background-color: #ff9800; /* Naranja */
}

.hecha {
    background-color: #4caf50; /* Verde */
}

.cancelada {
    background-color: #f44336; /* Rojo */
}
