body {
  font-family: sans-serif;
  font-size: 24px;
  padding: 40px;
  background-color: #212121;
}

.izquierda {
  text-align: left;
}

.centro {
  text-align: center;
}

.derecha {
  text-align: right;
}
