body {
    font-family: "Jacquard 24", system-ui;
    margin: 20px;
    text-align: center; /* Texto centrado  */

    /* Fondo oscuro */
    background-color: #121212;
    color: #ffffff; /* Texto claro para contraste */
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.3em;
    margin: 15px 0 5px 0;
}

/* Estilo para el nombre de usuario */
a {
    color: #4fc3f7; /* Azul/celeste */
    text-decoration: none; /* Sin subrayado */
}

.fecha {
    font-size: 0.9em;
    color: #aaaaaa; /* Gris claro */
    margin: 5px 0;
}

/*  Estilos para las reacciones */
span {
    display: inline-block;
    background-color: #cccccc; /* Gris claro */
    color: #000000; /* Texto oscuro para contraste */
    padding: 3px 8px;
    border-radius: 5px;
    margin: 0 3px;
}
