/* ======== ESTILOS GENERALES ======== */
body {
  background-color: #121212;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 40px;
}

/* Contenedor principal */
main {
  display: inline-block;
  background-color: #2b062c;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(42, 4, 51, 0.1);
}

/* ======== FORMULARIO ======== */
form {
  text-align: left;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #caaed3;
  color: #f5f5f5;
}

input:focus {
  outline: none;
  border-color: #af00bf;
  box-shadow: 0 0 5px #b900bf;
}

/* ======== BOTÓN ======== */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  background-color: #700367;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #9e0089;
}
