body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #000000, #181818, #2a2929, #3c3b3b, #504e4e, #504e4e, #504e4e, #504e4e, #3c3b3b, #2a2929, #181818, #000000);
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.tabs {
    margin-bottom: 20px;
}

.tabs button {
    padding: 8px 15px;
    border: none;
    background-color: #0c0c0c;
    color: #ff0000;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.tabs button.active {
    background-image: linear-gradient(to bottom, #6d6d6d, #585858, #444444, #303030, #1e1e1e, #1e1e1e, #1e1e1e, #1e1e1e, #303030, #444444, #585858, #6d6d6d);;
    color: rgb(252, 20, 20);
}

.evento {
    background-color: #000000;
    max-width: 600px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

.evento.cancelado {
    border-left: 5px solid rgb(255, 254, 254);
    opacity: 0.7;
}

.fecha {
    font-size: 0.9em;
    color: #fa6060;
}

.descripcion {
    margin: 10px 0;
    font-size: 0.95em;
    color: #afaeae;
}

.ver-mas {
    display: inline-block;
    margin-top: 10px;
    color: #9e0000;
    font-weight: bold;
    text-decoration: none;
}
.ver-mas:hover {
    text-decoration: underline;
}
